<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href={{url_for('static',filename='css/comum.css')}}>
     <link rel="stylesheet" href={{url_for('static',filename='css/style.css')}}>
     <link rel="stylesheet" href={{url_for('static',filename='css/style2.css')}}>
     <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/perfil.css')}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/editar_perfil.css')}}>


</head>

<body>
     <div class="area-login">

            <header class="cabecalho">
                <nav class="nav-bar">
                    <ul class="lista">
                        <li>
                            <h2 ><a href="{{url_for('home')}}" style="color:red">FACEBOOK 2</a></h2>
                        </li>
                            {% if current_user.is_authenticated %}
                                <li>
                                <a href="{{url_for('usuarios')}}">usuarios</a>
                                </li>
                                 <li>
                                <a href="{{url_for('post')}}">criar post</a>
                                </li>
                                 <li>
                                    <a href="{{url_for('perfil')}}">meu perfil</a>
                                </li>
                                 <li>
                                     <a href="{{url_for('sair')}}">sair</a>
                                </li>

                             {% else %}
                                 <li>
                                    <a href="{{url_for('login')}}">login</a>
                                </li>
                                <li>
                                    <a href="{{url_for('criar_conta')}}">criar conta</a>
                                 </li>
                            {% endif %}
                    </ul>

                </nav>
            </header>


         {% block content %}
         {% endblock %}


     </div>

</body>
</html>